/* ===== Colors ===== */
$primary: #ff9900;
$secondary: #6f00ff;
$danger: #a00000;
$grey: #bebebe;
$lightgrey: #d3d3d3;
$white: #fff;
$black: #000;

$color-map: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "grey": $grey,
  "light-grey": $lightgrey,
  "white": $white,
  "black": $black,
);

@each $name, $color in $color-map {
  .bg-#{$name} {
    background-color: $color;
  }
  .text-#{$name} {
    color: $color;
  }
}
