@import "./colors.scss";
@import "./positions.scss";
@import "./flex.scss";
@import "./utils.scss";
@import "./fonts.scss";

/* ===== CSS Reset ===== */
body {
  background-color: $secondary;
}

body,
p,
h2 {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  font-family: "Open Sans", sans-serif;
}

/* ===== Body Page ===== */
.container {
  max-width: 1220px;
  margin: 50px auto 0 auto;
  background-color: $white;
}

.card-curriculum {
  border: 3px solid $grey;
  // overflow: auto;
}

.card-curriculum__cover-box {
  height: 250px;
  background: url(../assets/svg/coverBg.svg) transparent no-repeat bottom center /
    cover;
}

.card-curriculum__profile-box {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid $white;
  background: url(../assets/img/avatar.jpg) $white no-repeat center center /
    cover;
  margin: -100px auto 0 auto;
}

// Tab
.tab-curriculum__header-button {
  border: 0;
  padding: 10px 15px;
  border-radius: 8px 8px 0 0;
  margin: 0 15px;
  cursor: pointer;
  &:hover {
    border-top: 2px solid $secondary;
    border-left: 2px solid $secondary;
    border-right: 2px solid $secondary;
  }

  .tab-curriculum__header-button__button-image {
    width: 50px;
    height: auto;
    margin-right: 3px;
  }
}

.tab-curriculum__wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.tab-curriculum__item {
  padding: 15px;
  margin: 15px;
  .tab-curriculum__item-description {
    margin-top: 15px;
  }
}

@media screen and (max-width: 420px) {
  .tab-curriculum__header-button {
    font-size: $xs;
    .tab-curriculum__header-button__button-image {
      width: 30px;
    }
  }
}
