/* ===== Colors ===== */
.bg-primary {
  background-color: #ff9900;
}

.text-primary {
  color: #ff9900;
}

.bg-secondary {
  background-color: #6f00ff;
}

.text-secondary {
  color: #6f00ff;
}

.bg-danger {
  background-color: #a00000;
}

.text-danger {
  color: #a00000;
}

.bg-grey {
  background-color: #bebebe;
}

.text-grey {
  color: #bebebe;
}

.bg-light-grey {
  background-color: #d3d3d3;
}

.text-light-grey {
  color: #d3d3d3;
}

.bg-white {
  background-color: #fff;
}

.text-white {
  color: #fff;
}

.bg-black {
  background-color: #000;
}

.text-black {
  color: #000;
}

/* ===== Display ===== */
.flex {
  display: flex;
}

.block {
  display: block;
}

.none {
  display: none;
}

/* ===== Position ===== */
.pos-none {
  position: none;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

/* ===== Align-Items ===== */
.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

/* ===== Justify-Content ===== */
.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

/* ===== Utils ===== */
.full-width {
  width: 100%;
}

.radius-8 {
  border-radius: 8px;
}

/* ===== Borders ===== */
.border-white {
  border: 2px solid #ff9900;
}

.border-down-grey {
  border-bottom: 2px solid #6f00ff;
}

/* ===== Text Align ===== */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* ===== Fonts ===== */
.font-xxs {
  font-size: 14px;
}

.font-xs {
  font-size: 18px;
}

.font-sm {
  font-size: 24px;
}

.font-default {
  font-size: 28px;
}

.font-xl {
  font-size: 32px;
}

.font-xxl {
  font-size: 48px;
}

/* ===== CSS Reset ===== */
body {
  background-color: #6f00ff;
}

body,
p,
h2 {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  font-family: "Open Sans", sans-serif;
}

/* ===== Body Page ===== */
.container {
  max-width: 1220px;
  margin: 50px auto 0 auto;
  background-color: #fff;
}

.card-curriculum {
  border: 3px solid #bebebe;
}

.card-curriculum__cover-box {
  height: 250px;
  background: url(../assets/svg/coverBg.svg) transparent no-repeat bottom center/cover;
}

.card-curriculum__profile-box {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #fff;
  background: url(../assets/img/avatar.jpg) #fff no-repeat center center/cover;
  margin: -100px auto 0 auto;
}

.tab-curriculum__header-button {
  border: 0;
  padding: 10px 15px;
  border-radius: 8px 8px 0 0;
  margin: 0 15px;
  cursor: pointer;
}
.tab-curriculum__header-button:hover {
  border-top: 2px solid #6f00ff;
  border-left: 2px solid #6f00ff;
  border-right: 2px solid #6f00ff;
}
.tab-curriculum__header-button .tab-curriculum__header-button__button-image {
  width: 50px;
  height: auto;
  margin-right: 3px;
}

.tab-curriculum__wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.tab-curriculum__item {
  padding: 15px;
  margin: 15px;
}
.tab-curriculum__item .tab-curriculum__item-description {
  margin-top: 15px;
}

@media screen and (max-width: 420px) {
  .tab-curriculum__header-button {
    font-size: 18px;
  }
  .tab-curriculum__header-button .tab-curriculum__header-button__button-image {
    width: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
