/* ===== Utils ===== */
.full-width {
  width: 100%;
}

.radius-8 {
  border-radius: 8px;
}

/* ===== Borders ===== */
.border-white {
  border: 2px solid $primary;
}

/* ===== Text Align ===== */
$center: center;
$left: left;
$right: right;

$text-align-map: (
  $center: center,
  $left: left,
  $right: right,
);

@each $name, $text-align in $text-align-map {
  .text-#{$name} {
    text-align: $text-align;
  }
}
